@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "DIN";
  src: url("../Fonts/D-DIN.ttf");
}

@font-face {
  font-family: "DIN-Black";
  src: url("../Fonts/DIN\ Black.ttf");
}

@font-face {
  font-family: "DIN-Regular";
  src: url("../Fonts/DIN2014-Regular.ttf");
}
@font-face {
  font-family: "DINCondensed-Regular";
  src: url("../Fonts/DINCondensed-Regular.ttf");
}
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("../Fonts/D-DINCondensed-Bold_0.otf");
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../Fonts/D-DIN-Bold.ttf");
}
@font-face {
  font-family: "DIN-Demi";
  src: url("../Fonts/DIN\ 2014\ Demi.ttf");
}
@font-face {
  font-family: "DINArabic-Black";
  src: url("../Fonts/DINArabic-Black.ttf");
}
@font-face {
  font-family: "helvetica-neue-lt-arabic-75-bol";
  src: url("../Fonts/helvetica-neue-lt-arabic-75-bold.ttf");
}

@font-face {
  font-family: "HelveticaNeueLTArabic-Roman";
  src: url("../Fonts/HelveticaNeueLTArabic-Roman.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../Fonts/Gotham-Medium_5.otf");
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  .hero{
    background-image: url(./../public/hero_bg.png);
  }

  .nationalday_left{
    background-image: url(./../public/nationalday_left.png);
  }
  .staycation {
    background-image: url(./../public/staycation_bg.png);
  }

  .staycation_ar {
    background-image: url(./../public/staycation_bg_ar.png);
  }

   .howtoenter {
    background-image: url(./../public/howtoenter_bg.svg);
  }
  .howtocard{
    @apply p-6 pt-8 pb-8  border-webLiteGray border-[1px] text-webGray
    rounded-2xl relative text-xs 
  }
  .howtocard_title{
    @apply pt-1 pb-1 w-[80px] rounded-full bg-webBlue  absolute
    text-sm text-center text-webWhite
    -top-3
  }
  .pointers{
    @apply w-8 h-8 pl-3 pt-[5px] bg-webBlue text-webWhite rounded-full
  }
  .pointers_ar{
    @apply pr-3 mr-4 
  }
  .pointers_main {
    @apply flex flex-row justify-center w-[90%] md:w-[80%] gap-x-3
  }

.registration_left {
     background-image: url(./../public/form_left.png);
  }


}