@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family: "DINCondensed-Bold";
  src: url("../Fonts/D-DINCondensed-Bold_0.otf");
}
@font-face {
  font-family: "DIN-Bold";
  src: url("../Fonts/DIN\ Bold.otf");
}
@font-face {
  font-family: "DIN-Demi";
  src: url("../Fonts/DIN\ 2014\ Demi.ttf");
}
@font-face {
  font-family: "DINArabic-Black";
  src: url("../Fonts/DINArabic-Black.ttf");
}
@font-face {
  font-family: "helvetica-neue-lt-arabic-75-bol";
  src: url("../Fonts/helvetica-neue-lt-arabic-75-bold.ttf");
}

@font-face {
  font-family: "HelveticaNeueLTArabic-Roman";
  src: url("../Fonts/HelveticaNeueLTArabic-Roman.ttf");
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
.registration_left {
     background-image: url(./../public/form_left.png);
  }

}